In [1]:
import pandas as pd

# Define file path
file_path = "./Data/various_health_care_cost.xlsx"
# Load the data and skip metadata rows
df = pd.read_excel(file_path, sheet_name=0, skiprows=3)

# Debug column names and count
print("Original column names:", df.columns)
print(f"Number of columns: {len(df.columns)}")

  Unnamed: 0   Unnamed: 1 Unnamed: 2        Unnamed: 3 Unnamed: 4  \
0      value  Absolutwert          S  Leistung - Total          M
1        NaN          NaN        NaN               NaN        NaN
2        NaN          NaN        NaN               NaN        NaN
3        NaN          NaN        NaN               NaN        NaN
4        NaN          NaN        NaN               NaN        NaN

                            Unnamed: 5  Unnamed: 6          Unnamed: 7  \
0  Art der Leistungserbringung - Total        -9.0  Geschlecht - Total
1                                  NaN         NaN                 NaN
2                                  NaN         NaN                 NaN
3                                  NaN         NaN                 NaN
4                                  NaN         NaN                 NaN

   Unnamed: 8            Unnamed: 9  ...      2013      2014     2015  \
0       -99.0  Altersklasse - Total  ...  69484.45  71218.99  73510.4
1         0.0             0-5 Jahre  ...      1906   1944.54  2058.69
2         6.0            6-10 Jahre  ...    857.52    876.28   907.27
3        11.0           11-15 Jahre  ...   1220.78   1235.81  1275.25
4        16.0           16-20 Jahre  ...    1898.5   1926.38  2003.62

       2016      2017      2018      2019      2020      2021      2022
0  76118.34  78128.31  79458.69  81909.76  83622.55  89234.24  91481.91
1   2132.81   2169.83   2159.54   2175.67   2100.74   2295.18   2421.72
2    987.15    983.63    997.21   1043.49   1076.66   1169.71   1223.96
3   1328.06   1258.65   1307.92   1386.11   1425.71    1566.3   1596.76
4   2063.43   2107.57    2171.4   2184.61   2196.21   2425.69   2561.89

[5 rows x 23 columns]
Original column names: Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', '2022'],
      dtype='object')

In [ ]:

# Drop unnecessary "Unnamed" columns
df = df.loc[:, ~df.columns.str.contains("Unnamed")]

In [ ]:

# Rename columns manually to ensure clarity
df.columns = [
    "Measure", "Absolute Value", "Service Total", "M", "Service Provider Total",
    "Unknown Col 1", "Gender Total", "Unknown Col 2", "Age Group"
] + [str(year) for year in range(2010, 2023)]

In [ ]:

# Drop rows where "Age Group" is NaN
df = df[df["Age Group"].notna()]

In [ ]:

# Convert year columns to numeric
for year in range(2010, 2023):
    if str(year) in df.columns:
        df[str(year)] = pd.to_numeric(df[str(year)], errors="coerce")

In [ ]:

# Save the cleaned data to a CSV file
output_path = "./Data/cleaned_various_health_care_costs.csv"
df.to_csv(output_path, index=False)

print(f"Cleaned data saved to '{output_path}'.")